<a href="https://colab.research.google.com/github/MarylouBer/MLD_Python/blob/main/DataEngineering_Webscraping_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import sqlite3
import numpy as np
from datetime import datetime

# Set pandas option to display all columns in one line in the df
pd.set_option('display.width', 200)
pd.set_option('display.max_columns', None)

url = 'https://en.wikipedia.org/wiki/List_of_most_valuable_crops_and_livestock_products'
db_name = 'CropsAndLivestock.db'
table_name = 'Most_Valuable_CropsAndLivestock'
csv_path = './Most_Valuable_CropsAndLivestock_data.csv'
table_attribs = ['Crop_Livestock','Global_Production_USDBillion','Global_Production_MetricTons' ]

def extract(url, table_attribs):
    page = requests.get(url).text
    data = BeautifulSoup(page, 'html.parser')
    df = pd.DataFrame (columns=table_attribs)
    tables = data.find_all('tbody')
    rows = tables[0].find_all('tr')
    for row in rows:
        col = row.find_all('td')
        if len(col)!=0:
            crop_or_livestock = col[0].find_all('a')[0]['title']
            global_gross_production_value = col[1].contents[0].replace('$', '').replace(',', '').strip()
            global_production_in_metric_tons = col[2].contents[0][:-1]
            data_dict = {'Crop_Livestock': crop_or_livestock,
                        'Global_Production_USDBillion': global_gross_production_value,
                        'Global_Production_MetricTons': global_production_in_metric_tons}
            df1 = pd.DataFrame(data_dict, index=[0])
            df = pd.concat([df,df1], ignore_index=True)

    return df

def transform(df) :
    # Use a public currency API
    response = requests.get("https://api.exchangerate-api.com/v4/latest/USD")
    data = response.json()
    # Get USD to EUR rate
    usd_to_eur = data['rates']['EUR']
    # transform usd to eur and save in df
    df['Global_Production_USDBillion'] = pd.to_numeric(df['Global_Production_USDBillion'], errors='coerce')
    df['Global_Production_EURBillion'] = df['Global_Production_USDBillion'] * usd_to_eur
    df = df[['Crop_Livestock', 'Global_Production_USDBillion', 'Global_Production_EURBillion', 'Global_Production_MetricTons']]
    return df

def load_to_csv(df, csv_path):
    df.to_csv(csv_path, index=False)

def load_to_db(df, sql_connection, table_name):
    df.to_sql(table_name, sql_connection, if_exists='replace', index=False)

def run_query(query_statement, sql_connection):
    query_output = pd.read_sql(query_statement, sql_connection)
    print("\n" + query_statement)
    print(query_output)

def log_progress(message) :
    timestamp_format = '%Y-%h-%d-%H:%M:%S'
    now = datetime.now()
    timestamp = now.strftime(timestamp_format)
    with open('./code_log.txt', 'a') as f:
        f.write(timestamp + ':' + message + '\n')

log_progress('Prelimiaries complete. Initiating ETL process')
df = extract(url, table_attribs)
print("\n" + 'Extracted data')
print(df)
log_progress('Data extraction complete. Initiating Transformation process')
df = transform(df)
print("\n" + 'Transformed data')
print(df)
log_progress('Data transformation complete. Initiating Loading process')
load_to_csv(df,csv_path)
log_progress('Data saved to CSV file')
sql_connection = sqlite3.connect('CropsAndLivestock.db')
log_progress('SQL connection initiated')
load_to_db(df, sql_connection, table_name)
log_progress('Data loaded to Database as table. Executing queries')
run_query('SELECT * FROM Most_Valuable_CropsAndLivestock', sql_connection)
run_query('SELECT AVG(Global_Production_EURBillion) FROM Most_Valuable_CropsAndLivestock', sql_connection)
run_query('SELECT Crop_Livestock from Most_Valuable_CropsAndLivestock LIMIT 5', sql_connection)
log_progress ('Process complete')
sql_connection.close()
log_progress('Server connection closed')

Extracted data
    Crop_Livestock Global_Production_USDBillion Global_Production_MetricTons
0             Rice                          332                  751,885,117
1     Domestic pig                          280                  118,956,327
2           Cattle                          269                   64,568,004
3             Milk                          238                  665,596,536
4          Chicken                          192                  106,638,508
5            Maize                          191                1,126,990,585
6            Wheat                          168                  748,392,150
7          Soybean                          107                  335,613,801
8      Eggs (food)                         93.6                   74,180,272
9           Potato                         92.7                  356,952,488
10       Vegetable                         89.1                  292,920,885
11          Tomato                         87.9                  178,158,747
12       Sugarcane                         87.3                1,874,611,396
13           Grape                         67.8                   74,089,693
14          Cotton                         56.7                   67,622,193
15   Water buffalo                         56.4                  115,204,379
16          Cotton                         50.5                   23,274,797
17           Apple                         45.9                   84,743,988
18          Onions                         42.1                   94,838,690
19           Sheep                         40.4                    9,567,978
20        Cucumber                         40.2                   79,844,838
21          Garlic                         39.3                   26,821,718
22          Banana                         38.5                  112,627,980
23            Goat                         36.4                    5,794,581
24          Elaeis                         35.7                  255,567,218
25         Cassava                         34.3                  288,497,460
26        Palm oil                           34                   58,156,889
27     Watermelons                         33.9                  102,414,316
28        Rapeseed                         31.7                   68,113,132
29          Mangos                         30.0                   49,523,191
30     Egg as food                         27.9                    6,108,690
31          Peanut                         26.9                   44,543,757
32    Chili pepper                         26.3                   34,567,250
33    Sweet potato                         26.1                   89,985,845
34          Barley                         22.9                  145,906,773
35  Orange (fruit)                         22.6                   72,771,146
36        Eggplant                         21.6                   51,302,856
37           Olive                         19.9                   19,650,821
38  Sunflower seed                         19.4                   47,401,997
39       Tangerine                         19.1                   32,304,732
40         Cabbage                         19.1                   69,790,058
41         Spinach                           18                   26,763,044
42    Strawberries                         17.7                    7,901,882
43           Peach                         17.1                   24,040,295
44         Tobacco                         16.2                    6,361,725
45          Coffee                         16.1                    9,353,937
46         Lettuce                         15.7                   27,440,987
47          Rubber                         15.3                   13,449,190
48             Tea                         15.2                    5,859,841
49             Pea                         14.7                   19,854,943

Transformed data
    Crop_Livestock  Global_Production_USDBillion  Global_Production_EURBillion Global_Production_MetricTons
0             Rice                         332.0                       305.440                  751,885,117
1     Domestic pig                         280.0                       257.600                  118,956,327
2           Cattle                         269.0                       247.480                   64,568,004
3             Milk                         238.0                       218.960                  665,596,536
4          Chicken                         192.0                       176.640                  106,638,508
5            Maize                         191.0                       175.720                1,126,990,585
6            Wheat                         168.0                       154.560                  748,392,150
7          Soybean                         107.0                        98.440                  335,613,801
8      Eggs (food)                          93.6                        86.112                   74,180,272
9           Potato                          92.7                        85.284                  356,952,488
10       Vegetable                          89.1                        81.972                  292,920,885
11          Tomato                          87.9                        80.868                  178,158,747
12       Sugarcane                          87.3                        80.316                1,874,611,396
13           Grape                          67.8                        62.376                   74,089,693
14          Cotton                          56.7                        52.164                   67,622,193
15   Water buffalo                          56.4                        51.888                  115,204,379
16          Cotton                          50.5                        46.460                   23,274,797
17           Apple                          45.9                        42.228                   84,743,988
18          Onions                          42.1                        38.732                   94,838,690
19           Sheep                          40.4                        37.168                    9,567,978
20        Cucumber                          40.2                        36.984                   79,844,838
21          Garlic                          39.3                        36.156                   26,821,718
22          Banana                          38.5                        35.420                  112,627,980
23            Goat                          36.4                        33.488                    5,794,581
24          Elaeis                          35.7                        32.844                  255,567,218
25         Cassava                          34.3                        31.556                  288,497,460
26        Palm oil                          34.0                        31.280                   58,156,889
27     Watermelons                          33.9                        31.188                  102,414,316
28        Rapeseed                          31.7                        29.164                   68,113,132
29          Mangos                          30.0                        27.600                   49,523,191
30     Egg as food                          27.9                        25.668                    6,108,690
31          Peanut                          26.9                        24.748                   44,543,757
32    Chili pepper                          26.3                        24.196                   34,567,250
33    Sweet potato                          26.1                        24.012                   89,985,845
34          Barley                          22.9                        21.068                  145,906,773
35  Orange (fruit)                          22.6                        20.792                   72,771,146
36        Eggplant                          21.6                        19.872                   51,302,856
37           Olive                          19.9                        18.308                   19,650,821
38  Sunflower seed                          19.4                        17.848                   47,401,997
39       Tangerine                          19.1                        17.572                   32,304,732
40         Cabbage                          19.1                        17.572                   69,790,058
41         Spinach                          18.0                        16.560                   26,763,044
42    Strawberries                          17.7                        16.284                    7,901,882
43           Peach                          17.1                        15.732                   24,040,295
44         Tobacco                          16.2                        14.904                    6,361,725
45          Coffee                          16.1                        14.812                    9,353,937
46         Lettuce                          15.7                        14.444                   27,440,987
47          Rubber                          15.3                        14.076                   13,449,190
48             Tea                          15.2                        13.984                    5,859,841
49             Pea                          14.7                        13.524                   19,854,943

SELECT * FROM Most_Valuable_CropsAndLivestock
    Crop_Livestock  Global_Production_USDBillion  Global_Production_EURBillion Global_Production_MetricTons
0             Rice                         332.0                       305.440                  751,885,117
1     Domestic pig                         280.0                       257.600                  118,956,327
2           Cattle                         269.0                       247.480                   64,568,004
3             Milk                         238.0                       218.960                  665,596,536
4          Chicken                         192.0                       176.640                  106,638,508
5            Maize                         191.0                       175.720                1,126,990,585
6            Wheat                         168.0                       154.560                  748,392,150
7          Soybean                         107.0                        98.440                  335,613,801
8      Eggs (food)                          93.6                        86.112                   74,180,272
9           Potato                          92.7                        85.284                  356,952,488
10       Vegetable                          89.1                        81.972                  292,920,885
11          Tomato                          87.9                        80.868                  178,158,747
12       Sugarcane                          87.3                        80.316                1,874,611,396
13           Grape                          67.8                        62.376                   74,089,693
14          Cotton                          56.7                        52.164                   67,622,193
15   Water buffalo                          56.4                        51.888                  115,204,379
16          Cotton                          50.5                        46.460                   23,274,797
17           Apple                          45.9                        42.228                   84,743,988
18          Onions                          42.1                        38.732                   94,838,690
19           Sheep                          40.4                        37.168                    9,567,978
20        Cucumber                          40.2                        36.984                   79,844,838
21          Garlic                          39.3                        36.156                   26,821,718
22          Banana                          38.5                        35.420                  112,627,980
23            Goat                          36.4                        33.488                    5,794,581
24          Elaeis                          35.7                        32.844                  255,567,218
25         Cassava                          34.3                        31.556                  288,497,460
26        Palm oil                          34.0                        31.280                   58,156,889
27     Watermelons                          33.9                        31.188                  102,414,316
28        Rapeseed                          31.7                        29.164                   68,113,132
29          Mangos                          30.0                        27.600                   49,523,191
30     Egg as food                          27.9                        25.668                    6,108,690
31          Peanut                          26.9                        24.748                   44,543,757
32    Chili pepper                          26.3                        24.196                   34,567,250
33    Sweet potato                          26.1                        24.012                   89,985,845
34          Barley                          22.9                        21.068                  145,906,773
35  Orange (fruit)                          22.6                        20.792                   72,771,146
36        Eggplant                          21.6                        19.872                   51,302,856
37           Olive                          19.9                        18.308                   19,650,821
38  Sunflower seed                          19.4                        17.848                   47,401,997
39       Tangerine                          19.1                        17.572                   32,304,732
40         Cabbage                          19.1                        17.572                   69,790,058
41         Spinach                          18.0                        16.560                   26,763,044
42    Strawberries                          17.7                        16.284                    7,901,882
43           Peach                          17.1                        15.732                   24,040,295
44         Tobacco                          16.2                        14.904                    6,361,725
45          Coffee                          16.1                        14.812                    9,353,937
46         Lettuce                          15.7                        14.444                   27,440,987
47          Rubber                          15.3                        14.076                   13,449,190
48             Tea                          15.2                        13.984                    5,859,841
49             Pea                          14.7                        13.524                   19,854,943

SELECT AVG(Global_Production_EURBillion) FROM Most_Valuable_CropsAndLivestock
   AVG(Global_Production_EURBillion)
0                           61.44128

SELECT Crop_Livestock from Most_Valuable_CropsAndLivestock LIMIT 5
  Crop_Livestock
0           Rice
1   Domestic pig
2         Cattle
3           Milk
4        Chicken